autopager
bokeh==0.12
numpy==1.12.1
scikit-learn==0.18.1
scipy==0.18.1
pandas
scrapy==1.4.0
scrapy-cdr>=0.3.2
tldextract
vmprof
statsd
git+https://github.com/TeamHG-Memex/scrapy-statsd.git@ops
scrapy-redis==0.6.8
proxy-middleware
html_text==0.2.1
Formasaurus==0.8
json_lines==0.3.1
git+https://github.com/TeamHG-Memex/autologin-middleware.git@multidomain
# deep-deep
