autopager
bokeh==0.12
numpy
pandas
scrapy==1.1.1
scrapy-cdr
tldextract
vmprof
statsd
scrapy-statsd
git+https://github.com/lopuhin/scrapy-statsd.git@py3
git+https://github.com/lopuhin/scrapy-redis.git@py3
#git+https://github.com:/eamHG-Memex/deep-deep.git@dd-crawler-integration
